/Group-1/aufgabe2_client/target/
/Group-1/aufgabe2_gateway/target/
/Group-1/aufgabe2_interface/target/
/Group-1/aufgabe2_sensor_temp/target/
/Group-1/Aufgabe_1/nbproject/private/
/Group-1/Aufgabe_1/build/
/Group-1/Aufgabe_1/dist/